body {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f6f6f6;
      color: #000;
    }

    header {
      background-color: #f8f9fa;
      padding: 10px 20px;
      border-bottom: 1px solid #ccc;
    }

    header h1 {
      margin: 0;
      font-size: 28px;
    }

    nav {
      background-color: #e9ecef;
      padding: 10px;
      border-right: 1px solid #ccc;
      width: 200px;
      height: 100vh;
      position: fixed;
      top: 60px;
      left: 0;
    }

    nav ul {
      list-style: none;
      padding: 0;
    }

    nav ul li {
      margin: 10px 0;
    }

    nav ul li a {
      text-decoration: none;
      color: #0077cc;
    }

    .anchor-menu {
      background-color: #f1f1f1;
      border-left: 1px solid #ccc;
      width: 200px;
      position: fixed;
      top: 60px;
      right: 0;
      height: 100vh;
      padding: 10px;
    }

    .anchor-menu h3 {
      margin-top: 0;
      font-size: 16px;
    }

    .anchor-menu ul {
      list-style: none;
      padding: 0;
    }

    .anchor-menu ul li {
      margin: 8px 0;
    }

    .anchor-menu a {
      color: #0077cc;
      text-decoration: none;
      font-size: 14px;
    }

    main {
      margin: 60px 220px 0 220px; /* espaço entre os menus */
      padding: 20px;
    }
    figure{
        margin-left: 250px;
        margin-right: 250px;
    }
    h2, h3 {
      scroll-margin-top: 80px; /* para evitar que o título fique escondido sob o topo */
    }

    footer {
      background-color: #f8f9fa;
      text-align: center;
      padding: 10px;
      margin-top: 40px;
      border-top: 1px solid #ccc;
    }